In [1]:
import dash
from dash import  dcc,html

import plotly.express as px
import pandas as pd

In [2]:
df = pd.read_csv('rainfall in india 1901-2015.csv')
df

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,Months
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3,JAN
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7,FEB
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6,MAR
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0,APR
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8,MAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6,NaN
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1,NaN
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6,NaN
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5,NaN
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4,NaN

In [28]:
# Create app layout
app = dash.Dash(__name__)
app.layout = html.Div([
    html.H1('Rainfall in India Dashboard', style={'backgroundColor':'skyblue','textAlign':'center'}),
    
    html.Div([
        html.Label('Select Year:', style={'backgroundColor':'yellow','align':'center'}),
        dcc.Dropdown(
            id='year-dropdown',
            options=[{'label': str(year), 'value': year} for year in df['YEAR'].unique()],
            value=df['YEAR'].min()
        ),
    ]),
    html.Div([
        html.Label('Select state:', style={'backgroundColor':'yellow'}),
        dcc.Dropdown(
            id='state-dropdown',
            options=[{'label': str(subdivision), 'value': subdivision} for subdivision in df['SUBDIVISION'].unique()],
            value=df['SUBDIVISION'].min()
        ),
    ]),
   
     html.Div([
    dcc.Graph(id='bar-chart'),
         
     ], style={'backgroundColor':'black','marginBottom':50,'marginTop':100,'marginleft':300,'padding':12,'width': '70%', 'display': 'inline-block', 'horizontal-align': 'right','vertical-align': 'up',"margin-top":"30px"}),
     html.Div([
    dcc.Graph(id='histogram'),
              ],style={'backgroundColor':'black','marginBottom':60,'marginTop':130,'marginleft':500,'padding':12,'width': '70%', 'display': 'inline-block', 'horizontal-align': 'right','vertical-align': 'up',"margin-top":"30px"}),
      html.Div([
    dcc.Graph(id='scatter-plot'),
      ],style={'backgroundColor':'black','marginBottom':50,'marginTop':100,'marginleft':300,'padding':12,'width': '70%', 'display': 'inline-block', 'horizontal-align': 'right','vertical-align': 'up',"margin-top":"30px"}),
     html.Div([
    dcc.Graph(id='mosaic-plot'),
     ],style={'backgroundColor':'black','marginBottom':50,'marginTop':100,'marginleft':300,'padding':12,'width': '70%', 'display': 'inline-block', 'horizontal-align': 'right','vertical-align': 'up',"margin-top":"30px"}),
             
      html.Div([
        html.Label('Select Year:', style={'backgroundColor':'yellow','align':'center'}),
        dcc.Dropdown(
            id='year-dropdown1',
            options=[{'label': str(year1), 'value': year1} for year1 in df['YEAR'].unique()],
            value=df['YEAR'].min()
        ),
    ]),
    html.Div([ 
    dcc.Graph(id='box-plot'),
    ],style={'backgroundColor':'black','marginBottom':50,'marginTop':100,'marginleft':300,'padding':12,'width': '70%', 'display': 'inline-block', 'horizontal-align': 'right','vertical-align': 'up',"margin-top":"30px"}),
],style={'backgroundColor':'green'}
)

In [29]:
# Define callbacks
@app.callback(
    dash.dependencies.Output('bar-chart', 'figure'),
    [dash.dependencies.Input('year-dropdown', 'value')])
def update_bar_chart(value):
    filtered_df = df[df['YEAR'] == value]
    fig = px.bar(filtered_df, x='SUBDIVISION', y='ANNUAL',color='SUBDIVISION')
    fig.update_layout(title='Annual Rainfall by Subdivision')
    return fig

@app.callback(
    dash.dependencies.Output('histogram', 'figure'),
    [dash.dependencies.Input('year-dropdown', 'value')])
def update_histogram(value):
    filtered_df = df[df['YEAR'] == value]
    fig = px.histogram(filtered_df, x='ANNUAL', nbins=30)
    fig.update_layout(title='Distribution of Annual Rainfall')
    return fig

@app.callback(
    dash.dependencies.Output('scatter-plot', 'figure'),
    [dash.dependencies.Input('year-dropdown', 'value')])
def update_scatter_plot(value):
    filtered_df = df[df['YEAR'] == value]
    fig = px.scatter(filtered_df, x='JAN', y='FEB', size='ANNUAL', color='SUBDIVISION')
    fig.update_layout(title='Monthly Rainfall Scatter Plot')
    return fig

@app.callback(
    dash.dependencies.Output('mosaic-plot', 'figure'),
    [dash.dependencies.Input('year-dropdown', 'value')])
def update_mosaic_plot(value):
    filtered_df = df[df['YEAR'] == value]
    fig = px.imshow(filtered_df.pivot_table(index='YEAR', columns='SUBDIVISION', values='ANNUAL'),
                     color_continuous_scale='oxy', title='Rainfall Mosaic Plot')
    return fig

@app.callback(
    dash.dependencies.Output('box-plot', 'figure'),
    [dash.dependencies.Input('year-dropdown1', 'value')])
def update_box_plot(value):
    filtered_df = df[df['YEAR'] == value]
    fig = px.box(filtered_df,  y='Mar-May', color='YEAR')
    fig.update_layout(title='Mar-May Rainfall by Subdivision')
    return fig

In [ ]:

if __name__ == '__main__':
    
    app.run_server(port=8080)

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:20] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:30:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:33:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:33:09] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:33:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:33:10] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:34:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:34:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:34:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:34:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [26/Mar/2023 21:36:06] "POST /_dash-update-component HTTP/1.1" 200 -